body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}

img{
    height: 250px;
    width: 350px;
}
ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	gap: 35px;
}
.news ul li{
	grid-column: auto;
	list-style: none;

	border: solid #E2E8F0;
    border-radius: 5px;
    border-top: 10px solid green;

    padding: 15px;

}
.title{
	font-family: serif;
}